<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vanilla Components</title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">MySite</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <!-- Home link -->
          <li class="nav-item">
            <a class="nav-link" href="/">Vanilla</a>
          </li>
          <!-- Django Components link -->
          <li class="nav-item">
            <a class="nav-link" href="/django_components">Django Components</a>
          </li>
          <!-- View Components link -->
          <li class="nav-item">
            <a class="nav-link" href="/view_component">View Components</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

    <!-- Main Content -->
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-8 text-center">
                <h1>Vanilla Components</h1>
                <br>
                {% include 'vanilla/button.html' %}
                {% include 'vanilla/button.html' with url="example.com" text="login" style_class="btn-primary" %}
                {% include 'vanilla/form.html' with form=form %}
            </div>
           
        </div>
    </div>

    <!-- Bootstrap JS and dependencies -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
